.container__articles {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  /* border : 1px solid red; */
  margin-top: 5px;

  display: felx;
  justify-content: center;
}
